html, body {
    height:100%;
    width: auto;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Snap ITC',Jokerman,Ravie,'Gill Sans MT','Courier New',Arial;
    cursor: url(images/cursor/select.cur),auto;
    background-color:black;
	text-align:center;
}

.OutContainer{
	height: 100%;
	width: 100%;
	top: 0%;
	position: absolute;
	overflow:hidden;
	z-index: -1;
}

#back {
    width:108px;
    height:99px;
    bottom:15px;
    left:15px;
    position:absolute;
}

.fontContainer {
    width:1024px;
    height:768px;
    background-image:url(images/background/font.png);
    position:relative;
}
