.HButtons{
	width: auto;
	height: 12%;
	position: absolute;
	z-index: 1;
	display: block;
}

#button0{
    top:60%;
    left: 44%;
}

#button1{
    top: 75%;
    left:34%;
}

#button2{
    top:75%;
    left: 54%;
}

#button0:hover {
    cursor: url(images/cursor/link.cur),pointer;
}

#button1:hover {
    cursor: url(images/cursor/help.cur),help;
}

#button2:hover {
    cursor: url(images/cursor/hand.cur),pointer;
}

#HBackground{
	height: 100%;
	z-index:-1;
}
